@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {

    --card-width-lg:157px;
    --card-height-lg:220px;

    --card-width-sm:120px;
    --card-height-sm:168px;

    --card-width-smm:60px;
    --card-height-smm:80px;

    --num-cards:4;

    --card-horizontal-space-lg: 100px;
    --card-horizontal-space-sm: 50px;
     --card-horizontal-space-smm: 20px;

    --badge-bg-color: darkgrey;
    --primary-color: black;
    --secondary-color: #ffffff;

    --primary-font: 'Quicksand', sans-serif;

}

body {
    height: 100vh;
    font-family: var(--primary-font);
}

.current-status {
    font-size: 1.5rem;
    text-align: center;
}

main {
    height: 55%;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.card-container {

    position: relative;
    height: 100%;
    width:calc(var(--card-width-lg) * (var(--num-cards) / 2) + var(--card-horizontal-space-lg));
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b"
        "c d";
    /* border: 1px solid black; */

}

.card-pos-a {
    grid-area: a;
    /* border: 1px solid black; */
    /* background-color: gray; */
}

.card-pos-b {
    grid-area: b;
    /* border: 1px solid black; */
    /* background-color: goldenrod; */

}

.card-pos-c {
    grid-area: c;
    /* border: 1px solid black; */
    /* background-color: rosybrown; */

}

.card-pos-d {
    grid-area: d;
    /* border: 1px solid black; */
    /* background-color: darkcyan; */

}

.card-pos-a,
.card-pos-b,
.card-pos-c,
.card-pos-d {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    position: absolute;
    height: var(--card-height-lg);
    width: var(--card-width-lg);
    perspective: 1000px;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;

}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-img {
    height: 100%;
}

.card-back {
    transform: rotateY(180deg);
}

.card-inner.flip-it {
    transform: rotateY(180deg);

}

/* .card:hover .card-inner {
    transform: rotateY(180deg);
} */

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.header-tittle-container {
    display: flex;
    justify-content: center;
}

.header-round-info-container {
    display: flex;
    justify-content: space-evenly;
}

.header-status-info-container,
.header-button-container,
.header-score-container,
.header-round-container,
.header-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-score-container,
.header-round-container,
.header-img-container {
    width: 150px;
}

.header-img {
    height: 75px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotate(-3deg);
}

.badge {
    background-color: var(--badge-bg-color);
    color: var(--secondary-color);
    padding: 2px 10px 3px;
    border-radius: 15px;
}

.game-play-button-container {
    width: 150px;
    height: 75px;
}



/* CSS */
#playGame {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: none;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    animation: game-play-button-fade-inn 10s 1;
}

#playGame:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#playGame:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

#playGame:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

@keyframes game-play-button-fade-inn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.card.shuffle-left {
    transform: translateX(300px) translateY(40px);
}

.card.shuffle-right {
    transform: translateX(-350px) translateY(-40px);
}

.card.fly-in {
    transform: translateY(-1000px) translateX(-600px) rotate(45deg);
}

@media screen and (max-width:700px){
    .card{
        width: var(--card-width-sm);
        height: var(--card-height-sm);
    }
    .card-container{
        width: calc(var(--card-width-sm) * (var(--num-cards)/2) + var(--card-horizontal-space-sm));
    }
    main{
        height:50%;
    }
    .current-status{
        font-size:1.2rem;
    }
    .game-play-button-container{
        width: 120px;
        height: 40px;
    }
    #playGame{
        padding: 6px 8px;
        font-size:12px;
        min-height:40px;
    }
    .header-img{
        height:55px;
    }
}

@media screen and (max-width:500px){
.card{
        width: var(--card-width-smm);
        height: var(--card-height-smm);
    }
    .card-container{
        width: calc(var(--card-width-smm) * (var(--num-cards)/2) + var(--card-horizontal-space-smm));
.game-play-button-container{
        width: 120px;
        height: 40px;
    }
    #playGame{
        padding: 2px 4px;
        font-size:6px;
        min-height:20px;
    }
    .header-img{
        height:20px;
    }
}
    }
    
}
